In [ ]:
print("Hello Rinzin")

Hello Rinzin

In [ ]:
# Create a list of string - names
names = ["Alice", "Janet", "Bob", "Charlie"]
names

['Alice', 'Janet', 'Bob', 'Charlie']

In [ ]:
# adding element into the list
# Add David to the list
names.append("David")
names

['Alice', 'Janet', 'Bob', 'Charlie', 'David']

In [ ]:
# removing element into the list
# remove David to the list
names.remove("David")
names

['Alice', 'Janet', 'Bob', 'Charlie']

# Heterogeneous list
mixed = [1, "Desmond", True, 20.6]

In [ ]:
# Heterogeneous list
# Create a list of string - names
mixed = [1, "Desmond", True, 20.6]
mixed

[1, 'Desmond', True, 20.6]

In [ ]:
print("welcome to coding in python")

welcome to coding in python

In [ ]:
# Create a list of fruits = fruits
fruits = ["Apple", "banana", "Cherry"]
fruits

['Apple', 'banana', 'Cherry']

In [ ]:
# add Mango to the list
fruits.append("Mango")
fruits

['Apple', 'banana', 'Cherry', 'Mango']

In [ ]:
# remove banana from the list
fruits.remove('banana')
fruits

['Apple', 'Cherry', 'Mango']

# add Orange to the list
fruits.append('Orange')
fruits

In [ ]:
# add orange to the list
fruits.append("Orange")
fruits.remove
fruits

['Apple', 'Cherry', 'Mango', 'Orange']